.logo {
  font-family: Domine, serif;
  font-size: 25px;
  align-items: center;
  color: #fff;
  display: flex;
  align-items: center;
  span {
    position: relative;
    font-family: Heebo, sans-serif;
    font-weight: 700;
    font-size: 11px;
    margin-left: 10px;
    top: 3px;
  }
}
