@keyframes flicker {
  0%,
  70%,
  85%,
  95% {
    opacity: 0;
  }
  2%,
  19.99%,
  22%,
  45%,
  62%,
  80% {
    opacity: 0.2;
  }
  10%,
  20%,
  23%,
  63%,
  63%,
  64%,
  65%,
  69% {
    opacity: 0.5;
  }
  50%,
  64%,
  88%,
  90% {
    opacity: 0.7;
  }
  82%,
  100% {
    opacity: 1;
  }
}

@mixin animation($animationType, $interval, $easingType: ease) {
  -webkit-animation: $animationType $interval $easingType;
  -moz-animation: $animationType $interval $easingType;
  -o-animation: $animationType $interval $easingType;
  animation: $animationType $interval $easingType;
}

@mixin animationDelay($interval) {
  animation-delay: $interval;
  -webkit-animation-delay: $interval;
}

.logo {
  font-family: Domine, serif;
  font-size: 25px;
  align-items: center;
  color: #fff;
  display: flex;
  align-items: center;
  transition: color 0.5s;
  opacity: 0;
  @include animation(flicker, 2s, ease-out);
  @include animationDelay(2s);
  animation-fill-mode: forwards;
  span {
    position: relative;
    font-family: Heebo, sans-serif;
    font-weight: 700;
    font-size: 11px;
    margin-left: 10px;
    top: 3px;
  }
}
