.container {
  width: 100%;
  height: 100vh;
  background: black;
}

.bg {
  color: #ffffff;
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  will-change: opacity;
  align-items: center;
  h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 48px;
  }
}
